<h1>Signup!</h1>

<%= form_for :user, url: '/users' do |f| %>
<table class="table table-bordered">

  <td>First Name: <%= f.text_field :first_name %></td>
  <td>Lastt Name: <%= f.text_field :last_name %></td>
 <td> Email: <%= f.text_field :email %></td>
 <td> Password: <%= f.password_field :password %></td>
  <td>Password Confirmation: <%= f.password_field :password_confirmation %></td>
 <td> <%= f.submit "Submit" %>
  
<table>
<% end %>